<div class="toast-container">
  @for (t of toast.toasts(); track t.id) {
    <div class="toast toast-{{ t.type }}" role="alert">
      <span class="material-symbols-rounded toast-icon">
        @switch (t.type) {
          @case ('success') { check_circle }
          @case ('warning') { warning }
          @case ('error') { error }
          @default { info }
        }
      </span>
      @if (t.html) {
        <span class="toast-message" [innerHTML]="t.html"></span>
      } @else {
        <span class="toast-message">{{ t.message }}</span>
      }
      <button class="toast-close" (click)="toast.dismiss(t.id)" [title]="'common.cancel' | translate">
        <span class="material-symbols-rounded">close</span>
      </button>
    </div>
  }
</div>
