# --- App ---
NODE_ENV=production
TZ=Europe/Warsaw
SCRAPER_PORT=4001

# --- Scraper ---
SCRAPER_ENABLED=true
SCRAPER_INTERVAL_CRON=0 0 4 * * *
SCRAPER_LIMIT=20
SCRAPER_MOCK=false

# --- Internal services ---
BACKEND_INTERNAL_URL=http://kzpanel-backend:5001
INTERNAL_API_TOKEN=
